ANTHROPIC_API_KEY=
PINECONE_API_KEY=
PINECONE_INDEX_NAME=the-gaffer
API_SPORTS_KEY=
DATABASE_URL=
DATABASE_ETL_URL=
RESEND_API_KEY=
FPL_TEAM_ID=
SERVER_PORT=8000
AWS_REGION=us-east-1
ENVIRONMENT=development
